.wrapper {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 10px;
}

.main {
  flex: 1;
}

.aside {
  flex: 1;
  padding-top: 50px;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  color: var(--brand-accent-color-5);
  line-height: 1.5;
}

.titleSecondary {
  display: flex;
  align-items: center;
  gap: 20px;
}

.demoShortcut {
  background-color: transparent;
  color: var(--brand-accent-color-1);
  padding: 3px 10px;
  font-size: 1.5rem;
}
