* {
  box-sizing: border-box;
}

:global html {
  height: 100%;
}

:global body {
  --brand-fg-color: #000;
  --brand-bg-color: #fff;
  --brand-accent-color-1: #fafafa;
  --brand-accent-color-2: #eaeaea;
  --brand-accent-color-3: #999;
  --brand-accent-color-4: #73768C;
  --brand-accent-color-5: #666;
  --brand-accent-color-6: #454754;
  --brand-accent-color-7: #333;
  --brand-accent-color-8: #111;

  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

:global #root {
  height: 100%;
  outline-color: var(--brand-accent-color-8);
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--brand-bg-color);
}

.header {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0 30px;
}

.heading {
  margin: 0;
  font-weight: 300;
}

.headingLink {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--brand-accent-color-8);
  text-decoration: none;
  outline-offset: 10px;
}

.logoStamp {
  height: 50px;
}

.logoText {
  display: flex;
  flex-direction: column;
  gap: 20px;
  line-height: 0;
}

.logoTextPrimary {
  font-size: 1.3rem;
  color: var(--brand-accent-color-6);
}

.logoTextSecondary {
  font-size: 0.9rem;
  color: var(--brand-accent-color-4);
  padding-left: 2px;
}

.navWrapper {
  margin-inline-start: auto;
}

.navList,
.socialList {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-decoration: none;
  padding-block: 15px;
  outline: none;
}

.navLinkContent {
  color: var(--brand-fg-color);
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.navLink:not(.activeNavLink):hover .navLinkContent {
  background-color: var(--brand-accent-color-2);
}

.navLink:focus-visible .navLinkContent {
  border-color: var(--brand-accent-color-8);
}

.activeNavLink .navLinkContent {
  background-color: var(--brand-accent-color-7);
  color: var(--brand-bg-color);
}

.socialList {
  align-items: center;
}

.socialItem {
  line-height: 0;
}

.socialLink {
  display: block;
  border-radius: 100%;
  text-decoration: none;
  color: var(--brand-accent-color-5);
  font-size: 2rem;
  outline-offset: 5px;
  transition: all 0.3s ease-out;
}

.socialLink:hover {
  transform: scale(1.05);
  color: var(--brand-accent-color-6);
}

.main {
  flex: 1;
  padding-block-end: 100px;
  padding-inline: 30px;
  border-top: 1px solid var(--brand-accent-color-2);
  border-bottom: 1px solid var(--brand-accent-color-2);
  background-color: var(--brand-accent-color-1);
}

.demoAction {
  display: inline-block;
  background-color: var(--brand-fg-color);
  color: var(--brand-bg-color);
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
}

.footer {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.creditLink {
  color: var(--brand-accent-color-7);
  margin-inline-start: 5px;
  text-decoration: none;
  font-weight: bold;
}
