.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  border: 0 !important;
}

.stripSpace {
  margin: 0;
  padding: 0;
}

.sizeIconWithFont {
  width: 1em;
  height: 1em;
}

.demoAction {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: var(--brand-fg-color);
  color: var(--brand-bg-color);
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  outline-offset: 3px;
  transition: all 0.2s ease-out;
}

.demoAction[data-size='large'] {
  gap: 15px;
  font-size: 2rem;
  padding: 10px 15px;
  border-radius: 6px;
}

.demoAction:hover {
  transform: scale(1.01);
}

.demoAction:active {
  background-color: var(--brand-accent-color-6);
}

.nonFlickerLoader {
  visibility: hidden;
  animation-name: anim-non-flicker-loader;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes anim-non-flicker-loader {
  to {
    visibility: visible;
  }
}
