.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
  border: 0 !important;
}

.stripSpace {
  margin: 0;
  padding: 0;
}

.sizeIconWithFont {
  width: 1em;
  height: 1em;
}

.demoAction {
  display: inline-block;
  background-color: var(--brand-fg-color);
  color: var(--brand-bg-color);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
  text-decoration: none;
  padding: 10px 20px;
  outline-offset: 3px;
}

.nonFlickerLoader {
  visibility: hidden;
  animation-name: anim-loading;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

@keyframes anim-loading {
  to {
    visibility: visible;
  }
}
