.demoWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.introSection {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 10vh;
}

.introHeading {
  display: contents;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--brand-accent-color-3);
}

.introShortcutKey {
  min-width: 85px;
  color: var(--brand-accent-color-4);
  font-weight: 600;
  padding: 0;
}

.countValue {
  font-size: 6rem;
  font-variant-numeric: tabular-nums;
}

.profileMenu {
  appearance: none;
  font-size: 1rem;
  min-width: 150px;
  padding-block: 5px;
  padding-inline-start: 20px;
  padding-inline-end: 10px;
  border-radius: 20px;
}
