.demoWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.introSection {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding-top: 10vh;
}

.introHeading {
  display: contents;
  font-size: 3.5rem;
  font-weight: 300;
  text-align: center;
  color: var(--brand-accent-color-3);
}

.introShortcutKey {
  min-width: 85px;
  color: var(--brand-accent-color-4);
  font-weight: 600;
  padding: 0;
}

.countValue {
  font-size: 6rem;
  color: var(--brand-accent-color-3);
  font-variant-numeric: tabular-nums;
}

.muteLabel:focus-within {
  outline: 2px solid var(--brand-accent-color-8);
  outline-offset: 5px;
}
