.demoSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.demoInteraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 200px;
  min-height: 150px;
  border: 1px solid var(--brand-accent-color-3);
  border-radius: 10px;
  padding-block: 30px;
  padding-inline: 50px;
}

.demoInteractionDesc {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
